version: "3.3"
services:

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  pool:
    build:
      context: ./pool
    volumes:
      - ./pool/config.json:/go/src/app/open-ethereum-pool/config.json
    depends_on:
      - ethereum
      - redis
    ports:
      - "8080:8080"
      - "8888:8888"
      - "8008:8008"
      
  pool-payouts:
    build:
      context: ./pool-payouts
    volumes:
      - ./pool-payouts/config.json:/go/src/app/open-ethereum-pool/config.json
    depends_on:
      - ethereum
      - redis
    ports:
      - "8081:8081"

  pool-ui:
    build:
      context: ./pool-ui
    depends_on:
      - pool
    ports:
      - "80:80"

  ethereum:
    image: ethereum/client-go:stable
    #image: openethereum/openethereum:v3.0.0
    ports:
      - "8545:8545"
      - "30303:30303"
    volumes:
      - geth-data:/root/.ethereum
      #- parity-data:/home/openethereum/.local/share/openethereum/
    command: --datadir=/root/.ethereum --http --http.addr "0.0.0.0" --mine --miner.etherbase 0x000F990627B17ED7D93597A355af8E4fCC3b9519
    #command: --author 000F990627B17ED7D93597A355af8E4fCC3b9519 --jsonrpc-hosts=0.0.0.0 --jsonrpc-interface=0.0.0.0


volumes:
  geth-data:
  #parity-data:
